.products {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    text-align: center;
    animation: fade-in-left 3s ease-in-out;
  }

  @keyframes fade-in-left {
    0% {
      opacity: 0%;
      transform: translateX(-50vw);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  
  }

  .product-cart {
    width: 300px;
    height: 420px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
  
  }
  
  .product-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 15%;
    font-size: 18px;
    font-weight: bold;
  }
  
  .product-img {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .product-price {
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black
  }
  
  .product-cart input {
    width: 50%;
    margin: 0 auto 20px auto;
    padding: 10px 0;
    height: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
  
  }
  
  .product-cart button {
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    background-color: rgb(11, 17, 43);
  }

  .cart_button:hover{
    cursor: pointer;
  }
